
<h3 align="center"><strong>CUESTIONARIO GENERAL DE SALUD CGS-15</strong></h3>
<form id="form1" name="form1" method="post" action="">
  <div align="right">
    <p>Fecha: 
      <input type="text" name="fecha" />
      <br />
    Telefono:
    <input type="text" name="telefono" />
	  <br />
    </p>
  </div>
  <div>
    <p>Nombre: 
      <input type="text" name="nombre" />
    Expediente No.:
    <input type="text" name="expediente" />
	  <br />
    Edad: 
    <input type="text" name="anios" /> Años.
	Esta embarazada? Si <input name="embarazada" type="radio" value="" /> No <input name="embarazada2" type="radio" value="" />
	Semanas de Gestaci&oacute;n
	<select name="select">
	  <option value="1">1</option>
	  <option value="2">2</option>
	  </select>
    </p>
    <p><strong>Este  es un cuestionario que pretende evaluar su estado general de salud. Para ello  se han formulado una serie de preguntas o afirmaciones que tienen que ver con  los padecimientos m&aacute;s comunes. Es importante que los conteste en forma  individual. <em><u>NO DEJE NINGUNA PREGUNTA  SIN CONTESTAR.</u></em></strong><br />
      <strong>Por  favor, lea con cuidado y conteste todas las preguntas. Ponga una &ldquo;X&rdquo; en la  respuesta, de acuerdo con lo que considere m&aacute;s adecuado para usted. Las  preguntas se refieren, exclusivamente a las molestias en las <u>dos &uacute;ltimas  semanas.</u></strong><br />
      <strong>Por  favor si usted padeci&oacute; estas molestias antes de este tiempo no las tome en  cuenta.</strong>&nbsp;&nbsp; </p>
    <p>1. &iquest;Se ha sentido bien y con buena salud? </p>
    <table width="200">
      <tr>
        <td><label>
          <input type="radio" name="pregunta1" value="radio" />
          Mejor que antes </label></td>
      </tr>
      <tr>
        <td><label>
          <input type="radio" name="pregunta1" value="radio" />
          Igual que antes </label></td>
      </tr>
	  <tr>
        <td><label>
          <input type="radio" name="pregunta1" value="radio" />
          Pero que antes </label></td>
      </tr>
	  <tr>
        <td><label>
          <input type="radio" name="pregunta1" value="radio" /> 
          Mucho peor que antes
        </label></td>
      </tr>
    </table>
	    <p>2. ¿Se ha sentido agotado y sin fuerzas para nada? </p>
    <table width="200">
      <tr>
        <td><label>
          <input type="radio" name="pregunta2" value="radio" />
          No </label></td>
      </tr>
      <tr>
        <td><label>
          <input type="radio" name="pregunta2" value="radio" />
          Como antes </label></td>
      </tr>
	  <tr>
        <td><label>
          <input type="radio" name="pregunta2" value="radio" />
          Más que antes </label></td>
      </tr>
	  <tr>
        <td><label>
          <input type="radio" name="pregunta2" value="radio" /> 
          Mucho más que antes
        </label></td>
      </tr>
    </table>
   	    <p>3. ¿Ha tenido la sensación de estar enfermo? </p>
    <table width="200">
      <tr>
        <td><label>
          <input type="radio" name="pregunta3" value="radio" />
          No </label></td>
      </tr>
      <tr>
        <td><label>
          <input type="radio" name="pregunta3" value="radio" />
          No más que antes </label></td>
      </tr>
	  <tr>
        <td><label>
          <input type="radio" name="pregunta3" value="radio" />
          Más que antes </label></td>
      </tr>
	  <tr>
        <td><label>
          <input type="radio" name="pregunta3" value="radio" /> 
          Mucho más que antes
        </label></td>
      </tr>
    </table>
   	    <p>4. ¿Ha tenido dolores de cabeza? </p>
    <table width="200">
      <tr>
        <td><label>
          <input type="radio" name="pregunta4" value="radio" />
          No </label></td>
      </tr>
      <tr>
        <td><label>
          <input type="radio" name="pregunta4" value="radio" />
          Como siempre </label></td>
      </tr>
	  <tr>
        <td><label>
          <input type="radio" name="pregunta4" value="radio" />
          Más que siempre </label></td>
      </tr>
	  <tr>
        <td><label>
          <input type="radio" name="pregunta4" value="radio" /> 
          Mucho más que siempre
        </label></td>
      </tr>
    </table>
      	    <p>5. ¿Ha tenido escalofríos o bochornos? </p>
    <table width="200">
      <tr>
        <td><label>
          <input type="radio" name="pregunta5" value="radio" />
          No </label></td>
      </tr>
      <tr>
        <td><label>
          <input type="radio" name="pregunta5" value="radio" />
          Igual que antes </label></td>
      </tr>
	  <tr>
        <td><label>
          <input type="radio" name="pregunta5" value="radio" />
          Más que antes </label></td>
      </tr>
	  <tr>
        <td><label>
          <input type="radio" name="pregunta5" value="radio" /> 
          Mucho más que antes
        </label></td>
      </tr>
    </table>
      	    <p>6. ¿Se ha sentido lleno de vida y energía? </p>
    <table width="200">
      <tr>
        <td><label>
          <input type="radio" name="pregunta6" value="radio" />
          Más que antes </label></td>
      </tr>
      <tr>
        <td><label>
          <input type="radio" name="pregunta6" value="radio" />
          Igual que antes </label></td>
      </tr>
	  <tr>
        <td><label>
          <input type="radio" name="pregunta6" value="radio" />
          Menos que antes </label></td>
      </tr>
	  <tr>
        <td><label>
          <input type="radio" name="pregunta6" value="radio" /> 
          Mucho menos que antes
        </label></td>
      </tr>
    </table>
      	    <p>7. ¿Ha tenido dificultad para dormirse o conciliar el sueño? </p>
    <table width="200">
      <tr>
        <td><label>
          <input type="radio" name="pregunta7" value="radio" />
          No </label></td>
      </tr>
      <tr>
        <td><label>
          <input type="radio" name="pregunta7" value="radio" />
          No más que antes </label></td>
      </tr>
	  <tr>
        <td><label>
          <input type="radio" name="pregunta7" value="radio" />
          Más que antes </label></td>
      </tr>
	  <tr>
        <td><label>
          <input type="radio" name="pregunta7" value="radio" /> 
          Mucho más que antes
        </label></td>
      </tr>
    </table>
      	    <p>8. ¿Ha tenido dificultad para dormir de un jalón toda la noche? </p>
    <table width="200">
      <tr>
        <td><label>
          <input type="radio" name="pregunta8" value="radio" />
          No </label></td>
      </tr>
      <tr>
        <td><label>
          <input type="radio" name="pregunta8" value="radio" />
          No más que antes </label></td>
      </tr>
	  <tr>
        <td><label>
          <input type="radio" name="pregunta8" value="radio" />
          Más que antes </label></td>
      </tr>
	  <tr>
        <td><label>
          <input type="radio" name="pregunta8" value="radio" /> 
          Mucho más que antes
        </label></td>
      </tr>
    </table>
      	    <p>9. ¿Ha pasado noches inquietas o intranquilas? </p>
    <table width="200">
      <tr>
        <td><label>
          <input type="radio" name="pregunta9" value="radio" />
          No </label></td>
      </tr>
      <tr>
        <td><label>
          <input type="radio" name="pregunta9" value="radio" />
          No más que antes </label></td>
      </tr>
	  <tr>
        <td><label>
          <input type="radio" name="pregunta9" value="radio" />
          Más que antes </label></td>
      </tr>
	  <tr>
        <td><label>
          <input type="radio" name="pregunta9" value="radio" /> 
          Mucho más que antes
        </label></td>
      </tr>
    </table>
      	    <p>10. ¿Se ha sentido satisfecho con su manera de hacer las cosas? </p>
    <table width="200">
      <tr>
        <td><label>
          <input type="radio" name="pregunta10" value="radio" />
          Más que antes </label></td>
      </tr>
      <tr>
        <td><label>
          <input type="radio" name="pregunta10" value="radio" />
          Igual que antes </label></td>
      </tr>
	  <tr>
        <td><label>
          <input type="radio" name="pregunta10" value="radio" />
          Menos que antes </label></td>
      </tr>
	  <tr>
        <td><label>
          <input type="radio" name="pregunta10" value="radio" /> 
          Mucho menos que antes
        </label></td>
      </tr>
    </table>
      	    <p>11. ¿Disfruta sus actividades diarias? </p>
    <table width="200">
      <tr>
        <td><label>
          <input type="radio" name="pregunta11" value="radio" />
          Más que antes </label></td>
      </tr>
      <tr>
        <td><label>
          <input type="radio" name="pregunta11" value="radio" />
          Igual que antes </label></td>
      </tr>
	  <tr>
        <td><label>
          <input type="radio" name="pregunta11" value="radio" />
          Menos que antes </label></td>
      </tr>
	  <tr>
        <td><label>
          <input type="radio" name="pregunta11" value="radio" /> 
          Mucho menos que antes
        </label></td>
      </tr>
    </table>
      	    <p>12. ¿Se ha sentido irritado y de mal humor? </p>
    <table width="200">
      <tr>
        <td><label>
          <input type="radio" name="pregunta12" value="radio" />
          No, para nada </label></td>
      </tr>
      <tr>
        <td><label>
          <input type="radio" name="pregunta12" value="radio" />
          No más que antes </label></td>
      </tr>
	  <tr>
        <td><label>
          <input type="radio" name="pregunta12" value="radio" />
          Más que antes </label></td>
      </tr>
	  <tr>
        <td><label>
          <input type="radio" name="pregunta12" value="radio" /> 
          Mucho más que antes
        </label></td>
      </tr>
    </table>
      	    <p>13. ¿Se ha sentido asustado y con mucho miedo sin que haya una buena razón? </p>
    <table width="200">
      <tr>
        <td><label>
          <input type="radio" name="pregunta13" value="radio" />
          No </label></td>
      </tr>
      <tr>
        <td><label>
          <input type="radio" name="pregunta13" value="radio" />
          No más que antes </label></td>
      </tr>
	  <tr>
        <td><label>
          <input type="radio" name="pregunta13" value="radio" />
          Más que antes </label></td>
      </tr>
	  <tr>
        <td><label>
          <input type="radio" name="pregunta13" value="radio" /> 
          Mucho más que antes
        </label></td>
      </tr>
    </table>
      	    <p>14. ¿Se ha sentido triste y deprimido? </p>
    <table width="200">
      <tr>
        <td><label>
          <input type="radio" name="pregunta14" value="radio" />
          No, para nada </label></td>
      </tr>
      <tr>
        <td><label>
          <input type="radio" name="pregunta14" value="radio" />
          No más que antes </label></td>
      </tr>
	  <tr>
        <td><label>
          <input type="radio" name="pregunta14" value="radio" />
          Más que antes </label></td>
      </tr>
	  <tr>
        <td><label>
          <input type="radio" name="pregunta14" value="radio" /> 
          Mucho más que antes
        </label></td>
      </tr>
    </table>
      	    <p>15. ¿Se ha sentido nervioso y "a punto de estallar" constantemente? </p>
    <table width="200">
      <tr>
        <td><label>
          <input type="radio" name="pregunta15" value="radio" />
          No </label></td>
      </tr>
      <tr>
        <td><label>
          <input type="radio" name="pregunta15" value="radio" />
          No más que antes </label></td>
      </tr>
	  <tr>
        <td><label>
          <input type="radio" name="pregunta15" value="radio" />
          Más que antes </label></td>
      </tr>
	  <tr>
        <td><label>
          <input type="radio" name="pregunta15" value="radio" /> 
          Mucho más que antes
        </label></td>
      </tr>
    </table>

  </div>
</form>
<p>&nbsp;</p>
