.patients_container{style="font-size: 16px; text-align: center; color: #8B4513; width: 979px;"}
  No se encontró ningún paciente.
  = link_to_remote('Dar de Alta paciente', :url => { :controller => "patients", :action => "new" })
