<br/>

<h1>!!!Aviso!!!</h1>

<br/>
<h2> > Se les solicita su colaboracion para realizar algunas actividades el dia Jueves 3 de Noviembre. Más detalles Favor de ponerse en contacto con Adrian Trujillo Cel: 04455 45965388, email: ianvo@hotmail.com</h2>
<br/>
<% if current_user.rol_id == 1 %>
<br/>
<h2> > Usuarios con privilegios, se habilitaron nuevos reportes en la sección <i>"Reportes"</i>.</h2>
<% end %>
<br/>
<h2> > Se han agregado nuevos documentos en la sección <i>"Documentos"</i>, entre ellos la carta para solicitar permiso de colocacion de publicidad.</h2>

<br/><br/>
