<br/>

<h1>!!!Aviso!!!</h1>
<br />
<h2>Ya se ecuentran las actividades, fechas y horarios de apoyo en la seccion: actvidades -> selccionar actividades.</h2>
<br />
<b><font color="red" size="4">¡¡IMPORTANTE!!</font></b>
<br />
<P>Que tal chicos, buen día.</p><br />
<P>
Solicito de su tolerancia,  pero de aquí a que termine el congreso estaré molestándolos en su bandeja de entrada de su mail y personalmente, así que les ofrezco una disculpa por anticipado, además de pedirles su gran apoyo y asistencia al 100%, ya que  esto hablará muy bien de nosotros cómo becarios y organizadores del evento, pues tal cómo lo dijo el Doc. Gabino, debemos estar muy orgullosos de que este congreso se organizo en su mayor totalidad por la ayuda de cada uno de nosotros sin omitir el apoyo externo, que también a sido de gran ayuda, pero que en numero, fue menor.
</p><br />
<P>
Además de su disponibilidad de tiempo requiero de su actitud servicial, su gran experiencia profesional, sentido común, su excelente adaptabilidad a los cambios de escenario y al elevado nivel de estrés que se pudiera generar, así como de su capacidad <b>para resolver problemas</b> en forma expedita.
</p><br />
<P>
Se formaran pequeños grupos y cada uno tendrá un supervisor que los estará apoyando al 100% ustedes se respaldarán en ellos si hubiese un problema mayor que no hayan podido resolver por si mismos, por falta o escases de material, accesorios, planes…información etc.etc.
</p><br />
<P>
Dichos supervisores se dirigirán a mí si existiera un motivo al que ellos, de igual forma, no pudiesen resolver.
</p><br />
<P>
Los invito a familiarizarse completamente con el evento (apréndanse la pag. del congreso) así que cuando alguien se acerque a cada uno de nosotros podamos <b>RESOLVER</b> su duda. Ustedes lo saben perfectamente: <b>HAY QUE DAR SOLUCIONES.</b>
</p><br />
<P>
No dejemos a la gente sin <b>resolver su duda,</b> es de suma importancia que le den seguimiento a las dudas de cada uno de los congresistas o personas que lo soliciten, ya sea que ustedes mismo lo resuelvan o lo acompañen con la persona indicada (supervisores y a su ves supervisores a mi), para cerciorarse de que su <b>DUDA FUE RESUELTA.</b>
</p><br />
<P>
Nuestra Imagen impactará mucho: desde la forma de vestir, la forma de dirigirnos a ellos, la actitud que les mostremos, el cómo nos dirijamos entre nosotros mismos, las señalizaciones en el evento, la <b>información acertada y resolutiva</b> que se les de, el aspecto del posgrado…
</p><br />
<p>
Por tal motivo se acordó que la vestimenta para el evento sería de <b>Gris, negro y blanco</b> muy formal (sin llegar a ser de etiqueta). Las chicas que lleven faldas, sólo se les hace la sugerencia de que no sean muy cortas. Todos llevaremos una banda en el brazo que nos identificará cómo miembros del Staff.
</p><br />
<p>
Si hubiese algún conflicto de importancia mayor entre ustedes mismo por razones obvias de estrés, operación; si hubiese un conflicto con el supervisor, conmigo etc, Les pediría de FAVOR que en ese momento no lo hicieran evidente a nadie y en cuanto se pueda y en un lugar adecuado <b>diríjanse a mi</b>, para darle <b>PRONTA SOLUCIÓN</b> y no hagamos de los roces, fracturas y conflictos mayores.
</p><br />
<p>
<b>Recuerden: BUSQUEMOS SOLUCIONES¡</b>
</p><br /><br />
<p>
<b>
Atte. Adrian Trujillo Rivera
</b>
</p>
