<br/>

<h1>!!!Aviso!!!</h1>
<br />
<h2>Se les Informa que el pago de los stand se puede hacer hasta febrero del siguiente (2012)año, con el motivo de facilitar las estrategias financieras de la empresa en relación al presupuesto, por la premura del congreso y por el cierre fiscal de año de algunas empresas, asi como se les autoriza su presencia en el evento firmando una carta compromiso. </h2>
<br/>
<h2> > Contacto publicidad: Adrian Trujillo Cel: 04455 45965388, email: ianvo@hotmail.com</h2>
<h2> > Contacto stands: Diana Vargas, email: diana-ivm@hotmail.com</h2>

<br/>
<% if current_user.rol_id == 1 %>
<br/>
<h2> > Usuarios con privilegios, se habilitaron nuevos reportes en la sección <i>"Reportes"</i>.</h2>
<% end %>
<br/>
<h2> > Se han agregado nuevos documentos en la sección <i>"Documentos"</i>, entre ellos la carta para solicitar permiso de colocacion de publicidad.</h2>

<br/><br/>
