<br/>

<h1>!!!Aviso!!!</h1>
<br />


Estimados Compañeros,
<br />
La noche de ayer tuve conocimiento que la junta a la que se les convocó con el Dr. García a las 14:00 hrs, no se llevó acabo.
Dada las finas atenciones , el apoyo y gran compromiso que han demostrado para la realización de nuestro Magno Evento, queremos externar una SINCERA DISCULPA, ya que el Dr. García estuvo en una reunión de suma importancia misma que se prolongó y no le fue posible salir a la hora estípulada.
Sentimos mucho haber estropeado sus agendas ya que sabemos que muchos de ustedes tenían destinado dirigirse a Instituciones lejanas a la FAC ¡
<br />
Realmente les agradezco la respuesta  a todas y cada una de las convocatorias que he estado publicando en el BLOG mediante al apoyo de nuestros compañeros.
<br /> 
Me reitero a sus órdenes y quisiera hacer énfasis en apelar a su apoyo para la VENTA de los STANDS ¡
 <br />
 
Mil Gracias por su comprensión,
 <br />
 



Saludos Cordiales,
<br />
~~~~~~~~~~~~~~~~~~~~
Emma Navarro Sepúlveda
<br />
<b><font color="red" size="4">URGENTE!!</font></b>
<h2><u>Por premura de Tiempo urge la venta de stands asi como Cubrir las Universidades restantes. GRACIAS!</u></h2>
<br />
<h2>Se les Informa que el pago de los stand se puede hacer hasta febrero del siguiente (2012)año, con el motivo de facilitar las estrategias financieras de la empresa en relación al presupuesto, por la premura del congreso y por el cierre fiscal de año de algunas empresas, asi como se les autoriza su presencia en el evento firmando una carta compromiso. </h2>
<br/>
<h2> > Contacto publicidad: Adrian Trujillo Cel: 04455 45965388, email: ianvo@hotmail.com</h2>
<h2> > Contacto stands: Diana Vargas, email: diana-ivm@hotmail.com</h2>

<br/>
<% if current_user.rol_id == 1 %>
<br/>
<h2> > Usuarios con privilegios, se habilitaron nuevos reportes en la sección <i>"Reportes"</i>.</h2>
<% end %>
<br/><br/>
