<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>Entrada a CEMI</title>
<link rel="stylesheet" href="css/screen.css" type="text/css" media="screen" title="default" />
<%= stylesheet_link_tag 'screen' %>
<%= javascript_include_tag :defaults %>

<STYLE TYPE="text/css" MEDIA=screen>
<!--
   h2 { color:white; }
-->
</STYLE>
</head>
<body id="login-bg"> 
 
<!-- Start: login-holder -->
<div id="login-holder">

	<!-- start logo -->
	<div id="logo-login">
		<img src="../images/logo-angel-sspdf.png" width="300" height="80" alt="" />
	</div>
	<!-- end logo -->
	
	<div class="clear"></div>
	
	<!--  start loginbox ................................................................................. -->
	<div id="loginbox">
	
	<!--  start login-inner -->
	<div id="login-inner">
            <%= yield %>
	</div>
 	<!--  end login-inner -->
	<div class="clear"></div>
 </div>
 <!--  end loginbox -->
 
	<!--  start forgotbox ................................................................................... -->
	<!--  end forgotbox -->

</div>
<!-- End: login-holder -->
</body>
</html>