<p>
  <b>Name:</b>
  <%=h @socioeconomic_ocupation.name %>
</p>

<p>
  <b>Point:</b>
  <%=h @socioeconomic_ocupation.point %>
</p>


<%= link_to 'Edit', edit_socioeconomic_ocupation_path(@socioeconomic_ocupation) %> |
<%= link_to 'Back', socioeconomic_ocupations_path %>